<footer class="footer">
Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä
    <a href="https://github.com/materiaalit/tilai-18" class="footer__github-link" target="_blank">
      <i class="fa fa-github"></i>
    </a>
</footer>
