---
  title: Johdanto
---

<% partial 'partials/material_heading' do %>
  Yleistä kurssista
<% end %>

<p>
Kurssilla opitaan alkeet seuraavista aiheista: <a href="https://en.wikipedia.org/wiki/Linux"target="_blank">Linux</a>-käyttöjärjestelmä ja <a href="https://en.wikipedia.org/wiki/Python_(programming_language)"target="_blank">Python</a>-ohjelmointikieli sekä tietokantojen hyödyntäminen. Oma kannettava tietokone kannattaa ottaa mukaan
luennoille ja laskuharjoituksiin, jotta voi saman tien kokeilla siellä esitettäviä lukuisia esimerkkejä. Luennoille ja laskuharjoituksiin saapuminen on vapaaehtoista. Riittää, että laskuharjoitusten vastaukset on palautettu ajallaan.
</p>

<p>
Kurssia ei suoriteta kokeella. Se suoritetaan tekemällä laskuharjoituksia. Kurssilla on 6 laskuharjoitusta. Arvosana määräytyy näiden laskuharjoitusten pisteiden mukaan. Arvostelusta kerrotaan yksityiskohtaisemmin ensimmäisessä luennossa.
</p>

<p>
Tällä sivulla on <b> vain </b> Python-tehtävät. Muistathan tehdä myös Linux-tehtävät!
</p>


<% partial 'partials/material_sub_heading' do %>
  Työskentelytavat ja aikataulu
<% end %>



<% partial 'partials/material_sub_sub_heading' do %>
  Syksy 2019
<% end %>


<p>

</p>

<p>
  Kurssilla järjestetään viikoittain ohjausta Kumpulan kampuksella Physicum-rakennuksen Laskupajassa D208.
</p>

<ul>
  <li>
    Keskiviikkoisin 16:15-18:00
  </li>
  <li>
    Perjantaisin 09:15-12:00
  </li>
</ul>

<p>
Keskiviikkoisin assistentit antavat ohjeita viikon tehtäviin ja perjantaisin käydään ratkaisut läpi. <b> Laskuharjoitusten palautus on joka torstai klo 21:00 mennessä </b>.
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Kurssimateriaalin lukeminen
<% end %>


<p>
  Lue kurssimateriaalia siten, että teet samalla itse kaikki lukemasi esimerkit. Esimerkkeihin kannattaa tehdä pieniä muutoksia ja tarkkailla, miten muutokset vaikuttavat ohjelman toimintaan. Äkkiseltään voisi luulla, että esimerkkien tekeminen ja muokkaaminen hidastaa opiskelua. Tämä ei kuitenkaan pidä paikkaansa. Ohjelmoimaan ei ole vielä tietääksemme kukaan ihminen oppinut lukemalla (tai esim. luentoa kuuntelemalla). Oppiminen perustuu oleellisesti aktiiviseen tekemiseen ja rutiinin kasvattamiseen. Esimerkkien ja erityisesti erilaisten omien kokeilujen tekeminen on parhaita tapoja "sisäistää" luettua tekstiä. Kurssilla käytetyssä ohjelmointiympäristössä on kokeiluja varten tehtäväpohja, jonka nimi on "Hiekkalaatikko".
</p>

<p>
  Pyri myös tekemään tai ainakin yrittämään tehtävien suorittamista sitä mukaa kuin luet tekstiä. Jos et osaa heti tehdä jotain tehtävää, älä masennu, vaan kysy neuvoa tehtävän tekemiseen. Haastavimpia tehtäviä kannattaa tehdä useampaan otteeseen siten, että tehtävien uudelleen tekemisen välillä pitää muutaman tunnin tai päivän tauon.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Tehtävien tekeminen
<% end %>

<p>
  Kurssilla on käytössä ohjelmointiympäristö Test My Code (asennusohjeet alempana), joka lataa tehtävät sekä antaa niistä automaattista palautetta.
</p>




<% partial 'partials/material_sub_sub_heading' do %>
  Yhteistyö ja opintovilppi
<% end %>

<p>
  Hyvä yhteistyö keskittyy jokaisen osapuolen oppimiseen ja parantaa oppimistuloksia. Yhteistyö on kurssin ohjelmointitehtäviä pohtiessa sallittua ja suositeltavaa.
</p>


<p>
    Kurssilla sovelletaan perusopetuksen pelisääntöjä.
    <a href="https://wiki.helsinki.fi/pages/viewpage.action?pageId=135735225"target="_blank">Linkki pelisääntöihin. </a>Laskuharjoitusten tekeminen yhdessä on sallittua ja suotavaa, eivätkä tästä seuraavat yhteneväisyydet ratkaisuissa ole plagiointia.

    Yhteistyön on tarkoitus johtaa jokaisen oppimiseen ja ymmärryksen kasvamiseen. Jokaisen on siis kirjoitettava palauttamansa koodi itse. Toisen henkilön kirjoittaman ratkaisun palauttaminen omanaan ei ole hyväksyttävää. </p>
<p>
    Havaitusta vilpistä seuraa luennoitsijan puhuttelu, ja jos tämä ei auta tai tapaus on selvää vilppiä, oppiainevastaavan puhuttelu. Oppinainevastaavat pitävät kirjaa ilmenneistä tapauksista.</p>

    Lisää infoa:
    <a href="https://blogs.helsinki.fi/alakopsaa"target="_blank">Älä kopsaa</a>
</p>




<% partial 'partials/material_sub_heading' do %>
  Arvostelu
<% end %>



<% partial 'partials/material_sub_sub_heading' do %>
  Syksy 2019
<% end %>



<p>
  Kurssien arvostelu perustuu tehtyihin ohjelmointitehtäviin.
</p>

<% partial 'partials/material_heading' do %>
  Tunnukset ja työvälineet
<% end %>


<% partial 'partials/material_sub_heading' do %>
  Käyttäjätunnuksen luominen
<% end %>

<p>
  Kurssilla tarvitaan käyttäjätunnus Test My Code (TMC) -järjestelmään, jota käytetään tehtävien automaattiseen arviointiin. Käyttäjätunnuksella voit myös kirjautua tähän materiaaliin, jolloin pääset vastaamaan materiaalissa oleviin kyselyihin.
</p>

<p>
  <strong>Huom!</strong> Jos olet Helsingin yliopiston opiskelija, aseta käyttäjätunnukseksesi opiskelijanumerosi. Näin opintopisteiden liittäminen kurssisuoritukseen helpottuu merkittävästi. Jos taas et ole Helsingin yliopiston opiskelija, keksi itsellesi sopiva käyttäjätunnus. Kun jatkossa kysymme TMC-tunnustasi, tarkoitamme sillä tätä käyttäjätunnusta.
</p>

<p>
  Käyttäjätunnuksen luominen onnistuu sivulla <a href="https://tmc.mooc.fi/user/new" target="_blank">https://tmc.mooc.fi/user/new</a>.
</p>

<p>
  Kun olet luonut käyttäjätunnuksen, voit kirjautua tähän materiaaliin materiaalin oikeassa ylälaidassa olevan "Kirjaudu sisään"-napin kautta.
</p>




<% partial 'partials/material_sub_sub_heading' do %>
  Oikean kurssin valinta ohjelmointiympäristössä
<% end %>

<ul>
  <li>
    <strong>Helsingin yliopiston syksyllä 2019 järjestettävä kurssi Tieteellinen Laskenta I</strong>. Valitse TMC-Clistä palvelimen osoitteeksi (server address) <code>https://tmc.mooc.fi/org/fyl</code>.
  </li>
</ul>

<p>
  Ylläolevat asetukset menevät komentorivillä toimivaan TMC-CLI:hin.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Analytiikkadatan kerääminen ja arvostelu
<% end %>


<%= partial 'partials/quiz', locals: { id: '587bc4a71b527d0004a7971b' } %>


<% partial 'partials/material_sub_heading' do %>
  Kurssimateriaalin tekijät ja lisenssi
<% end %>

<p>
  Kurssimateriaalin on nykyisen iteraation on toteuttanut Antti Pollari. Kurssin sisältöön ovat aiemmin vaikuttaneet hyvin merkittävissä määrin Mikko Mäkelä ja Lauri Jetsu, joiden työn pohjalle nykyinen kurssi on rakennettu.
</p>

<p>
  Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samanlaisella vapaalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
</p>


<% partial 'partials/material_sub_heading' do %>
  Kurssilla tehtävästä tutkimuksesta
<% end %>


<p>
  Kurssilla tehdään oppimiseen liittyvää tutkimusta. Tällä tutkimuksella on useampia tavoitteita: (1) lähestyä tilannetta, missä oppimateriaali ja tehtävät osaavat ottaa oppijoiden yksilölliset erot paremmin huomioon ja reagoida niihin tarjoten kohdennetumpaa opetusta, (2) kehittää digitaalisissa ympäristöissä tapahtuvaan oppimiseen liittyvää ymmärrystä ja tietoa, sekä (3) tukea tutkimustiedon kautta muita oppimaterialien kehittäjiä ja oppimisen tutkijoita.
</p>

<p>
  Tutkimusdatan hallinnasta vastaa Helsingin yliopiston tietojenkäsittelytieteen laitoksen Agile Education Research -ryhmän Arto Hellas. Anonymisoimattomaan tutkimusdataan eivät pääse käsiksi muut tutkijat.
</p>

<% partial 'partials/material_sub_heading' do %>
  Kiitokset tästä sivupohjasta
<% end %>

<p>
  Kiitokset tästä sivupohjasta sekä sen muotoilusta menevät TKTL Arto Hellakselle sekä hänen Agile Education Research -ryhmäläisille.
</p>


<% partial 'partials/hint', locals: { name: 'Sitten materiaaliin...' } do %>

  <p>
    Löydät tämän sivun ylälaidasta linkin "Viikko 1", jolla pääset ensimmäiseen osaan käsiksi. Siirtyminen onnistuu myös <%= link_to 'tästä', 'part1.html' %> painamalla.
  </p>

<% end %>
