---
  title: Viikko 1
  exercise_page: true
  quiz_page: false
---



<% partial 'partials/material_heading' do %>
  Ensimmäisen viikon tehtävät
<% end %>

<% partial 'partials/exercise', locals: { name: 'Hello' } do %>

  <p>
    Tee ohjelma, jonka tulostus on seuraava:
  </p>

  <% partial 'partials/sample_output' do %>
Hei maailma!
  <% end %>

<% end %>

<p>
Tähän voisi laittaa tekstiä
</p>

<% partial 'partials/exercise', locals: { name: 'Square' } do %>

  <p>
    Tee ohjelma, jonka tulostus on seuraava:
  </p>

  <% partial 'partials/sample_output' do %>
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
  <% end %>

<% end %>

<p>
Tähän voisi laittaa taas tekstiä for-loopista
</p>

<% partial 'partials/exercise', locals: { name: 'Lazy-Square' } do %>

  <p>
    Tee ohjelma, joka tulostaa jälleen 5x5 ruudukon tähtiä, mutta käytä tällä kertaa käyttäen for-looppia:
  </p>

  <% partial 'partials/sample_output' do %>
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
  <% end %>

<% end %>

<p>
Tähän voisi laittaa tekstiä muuttujista.
</p>

<% partial 'partials/exercise', locals: { name: 'Seconds in year' } do %>

  <p>
    Lataamassasi tehtävässä on ohjelmarunko joka laskee montako sekuntia vuodessa on. Käytä annettuja muuttujia ja laske sekunnit.
  </p>

  <% partial 'partials/sample_output' do %>
    sekunnit = 60
    minuutit = 60
    tunnit = 24
    paivat = 365

    vuodessaSekunteja = sekunnit*minuutit*tunnit*paivat
    print(vuodessaSekunteja)
  <% end %>

<% end %>
