---
  title: Viikko 5
  exercise_page: true
  quiz_page: false
---

<% partial 'partials/material_heading' do %>
  Viidennen viikon tehtävät
<% end %>
<p>
Tähän tekstiä funktioista ja esimerkki tehospektristä.
</p>

<% partial 'partials/exercise', locals: { name: 'More functions' } do %>

  <p>
  Tehtäväpohja on seuraavanlainen:
  </p>

  <% partial 'partials/code_highlight' do %>
    def main():
    t = np.arange(3) + 1             # Älä koske
    ydot = np.arange(3) + 4             # Älä koske
    f = 1.41                          # Älä koske
    tau = aliohjelma1(t,f)            # Älä koske
    z1,z2 = aliohjelma2(t,ydot,f,tau) # Älä koske
    print(tau,z1,z2)                # Älä koske

    #Kirjoita aliohjelma1 ja aliohjelma2 tähän
  <% end %>

  <p>
  Tulet tarvitsemaan tämän tehtävän koodia myöhemmin tällä kurssila, pidä se siis tallessa! Sinun tehtäväsi on luoda funktio joka laskee datan periodisuuden. Funktio laskee taun arvon ja palauttaa. Taun arvo on "sovitus" datasta ja sen avulla dataan saadaan periodisuus. Saadaksesi arvot Z1 ja Z2 tarvitset taun arvoa. Z1 ja Z2 muodostavat tehospektrin. <br>
  Aloita tehtävä tekemällä aliohjelma1(t,f) joka laskee taun arvon. Luo seuraavaksi aliohjelma2(t, ydot, f, tau) joka laskee Z1 ja Z2 arvot. Tulosta lopuksi saadut arvot:
  </p>

  <% partial 'partials/sample_output' do %>
0.0496453900709 1.14844141687 11.8561720281
  <% end %>

<% end %>


<% partial 'partials/exercise', locals: { name: 'Format' } do %>

  <p>
  Seuraavaksi todella yksinkertainen harjoitus Pythonin float numeroiden formatista.
  Tehtäväpohja on seuraavanlainen:
  </p>

  <% partial 'partials/code_highlight' do %>
  def main():
    a = 2/3
    b = np.pi
    c = 11.123123123123
  <% end %>

  <p>
  Tehtävä on oikein kun tulostat:
  </p>

  <% partial 'partials/sample_output' do %>
0.67
3.1416
11.123
0.67 3.1416 11.123
  <% end %>

<% end %>
