---
  title: Viikko 2
  exercise_page: true
  quiz_page: false
---
<% partial 'partials/material_heading' do %>
  Toisen viikon tehtävät
<% end %>
<p>
Tähän tekstiä Numpysta
</p>

<% partial 'partials/exercise', locals: { name: 'Trigonometry' } do %>

  <p>
    Käytä Numpy-modulia ja Tulosta &#928;:n arvo,  Sin(&#928;), Cos(&#928;) ja Tan(&#928;)<br>
    sekä luku 1, Arcsin(1), Arccos(1) ja Arctan(1)
  </p>

  <% partial 'partials/sample_output' do %>
3.141592653589793
1.22464679915e-16
-1.0
-1.22464679915e-16
1
1.57079632679
0.0
0.785398163397
  <% end %>

<% end %>


<% partial 'partials/exercise', locals: { name: 'Exponent and logarithms' } do %>

  <p>
    Käytä Numpy-modulia ja tulosta e:n arvo, ln(e), log<sub>10</sub>(e), log<sub>2</sub>(e)<br>
    sekä luku 2, e<sup>2</sup> ja e<sup>4*2</sup>
  </p>

  <% partial 'partials/sample_output' do %>
2.718281828459045
1.0
0.434294481903
1.44269504089
2
7.38905609893
2980.95798704
  <% end %>

<% end %>

<% partial 'partials/exercise', locals: { name: 'Complex numbers' } do %>

  <p>
    Käytä Numpy-modulia ja määritä kompleksiluvut a = (0 + i)<sup>2</sup>, b = 1 + i, c = 2 + 3i ja tulosta ne.<br>
    Tulosta sen jälkeen d = b + c, d:n realiosa, d:n imaginääriosa, d:n komponenttien välinen kulma ja d:n konjugaatti.
  </p>

  <% partial 'partials/sample_output' do %>
(-1+0j)
(1+1j)
(2+3j)
(3+4j)
3.0
4.0
0.927295218002
(3-4j)
  <% end %>
<% end %>

<% partial 'partials/exercise', locals: { name: 'Miscellaneous functions' } do %>

  <p>
    Käytä Numpy-modulia ja määritä luvut x = 9 ja y = -9.<br>
    Laske sen jälkeen luvusta x neliöjuuri, luvusta y itseisarvo, luvusta x kuutiojuuri ja luvusta y kuutiojuuri ja lopuksi tulosta ne. Vihje: numpy.sqrt ja numpy.cbrt jne...
  </p>

  <% partial 'partials/sample_output' do %>
3.0
9
2.08008382305
-2.08008382305
  <% end %>
<% end %>

  <p>
    Tähän väliin tekstiä inputista
  </p>

<% partial 'partials/exercise', locals: { name: 'Greeter' } do %>

  <p>
    Tee ohjelma, joka kysyy käyttäjältä hänen nimeä ja ikää.<br>
    Nimen kysymisen jälkeen ohjelma tulostaa tekstin
  </p>

  <% partial 'partials/sample_output' do %>
What is your name? Mikko
Nice to meet you Mikko!
  <% end %>
  <p>
    Vastaustekstin jälkeen ohjelma kysyy ikää ja tulostaa kokonaisen tervehdyksen.
  </p>

  <% partial 'partials/sample_output' do %>
Your age? 55
So, you are already 55 years old, Mikko!
<% end %>
  <p>
    Kokonaisuutena ohjelman tulostus näyttää siis seuraavalta
  </p>

  <% partial 'partials/sample_output' do %>
What is your name? Mikko
Nice to meet you Mikko!
Your age? 55
So, you are already 55 years old, Mikko!
  <% end %>
<% end %>

  <p>
    Tähän väliin tekstiä inputin muuntamisesta luvuksi.
  </p>



<% partial 'partials/exercise', locals: { name: 'Calculator' } do %>

  <p>
    Tee ohjelma, missä kysyt käyttäjältä kaksi lukua. <br>
    Laske sen jälkeen näiden kahden luvun summa, tulo ja osamäärä.<br>
    Tulosta tulokset.
  </p>

  <% partial 'partials/sample_output' do %>
Give first integer 300
Give second integer 9001
9301
2700300
0.03332963004110654
  <% end %>

<% end %>

