---
  title: Osa 6
  exercise_page: true
  quiz_page: false
---
<% partial 'partials/material_heading' do %>
  Kuudennen viikon tehtävät
<% end %>
<p>
Tähän tekstiä suoran sovittamisesta ja PNS-menetelmästä.
</p>
