---
  title: Osa 7
  exercise_page: true
  quiz_page: false
---
<% partial 'partials/material_heading' do %>
  Seitsemännen viikon tehtävät
<% end %>

<% partial 'partials/material_sub_heading' do %>
  Viimeisen viikon tehtävät koostuvat loppuprojektin osista. Tehtävänäsi on tehdä tehospektri annetulle datalle ja luoda siitä plottaukset.
<% end %>

<% partial 'partials/exercise', locals: { name: 'Rayleigh' } do %>

  <p>
  Tehtävänäsi on aloittaa loppuprojekti tekemällä ennestään tutulle datalle Rayleigh-testi. Tee testi ohjeiden mukaisesti:
  <a href="http://www.helsinki.fi/~jetsu/tila/H8bmalli.pdf"target="_blank">Linkki prujuihin</a>
  </p>


<% end %>

<% partial 'partials/exercise', locals: { name: 'Tehospektri' } do %>

  <p>
  Tehtävänäsi on tehdä tehospektri annetulle datalle.
  <a href="http://www.helsinki.fi/~jetsu/tila/Harjoitus10.pdf"target="_blank">Linkki prujuihin</a>
  </p>


<% end %>

<% partial 'partials/exercise', locals: { name: 'Datan sovittaminen periodiin' } do %>

  <p>
  Tehtävänäsi on sovittaa annettu data löytämällesi periodille.
  <a href="http://www.helsinki.fi/~jetsu/tila/Harjoitus10.pdf"target="_blank">Linkki prujuihin</a>
  </p>


<% end %>
