---
  title: Osa 6
  exercise_page: true
  quiz_page: false
---
<% partial 'partials/material_heading' do %>
  Kuudennen viikon tehtävät
<% end %>

<% partial 'partials/material_sub_heading' do %>
  Viimeisen viikon tehtävät koostuvat loppuprojektin osista.
<% end %>

<% partial 'partials/exercise', locals: { name: 'Rayleigh' } do %>

  <p>
  Tehtävänäsi on aloittaa loppuprojekti tekemällä ennestään tutulle datalle Rayleigh-testi. Tee testi ohjeiden mukaisesti:
  <a href="http://www.helsinki.fi/~jetsu/tila/Rayleighohjelma.pdf"target="_blank">Rayleighohjelma</a>
  </p>


<% end %>

<% partial 'partials/exercise', locals: { name: 'Scargleteoria' } do %>

  <p>
  <a href="http://www.helsinki.fi/~jetsu/tila/Scargleteoria.pdf"target="_blank">Scargleteoria</a>
  </p>


<% end %>

<% partial 'partials/exercise', locals: { name: 'Scargleohjelma' } do %>

    <p>

    <a href="http://www.helsinki.fi/~jetsu/tila/Scargleohjelma.pdf"target="_blank">Scargleohjelma</a>
    </p>


  <% end %>

<% partial 'partials/exercise', locals: { name: 'Sinisovitus' } do %>

  <p>
  <a href="http://www.helsinki.fi/~jetsu/tila/Sinisovitus.pdf"target="_blank">Sinisovitus</a>
  </p>


<% end %>
